@font-face {
    font-family: 'pp-sans-big-light';
    src: url('./fonts/PayPalSansBig-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'pp-sans-small-regular';
    src: url('./fonts/PayPalSansSmall-Regular.woff2') format('woff2');
}

* {
    font-family: pp-sans-big-light, Helvetica Neue, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    padding: 1em 25em;
}

header div a {
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px 20px;
}

.paypal-logo {
    width: 150px;
}

#log-in-button {
    color: white;
    margin-right: 5px;
}

#create-account-button {
    background-color: white;
    color: black;
}

.section-1 {
    background-image: url("./images/top-background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 5em;
}

.articles {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: white;
    padding: 8em 18em;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
}

.articles p {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 1.5em;
}

.articles article {
    width: 28%;
}

.articles article a {
    text-decoration: none;
    color: rgb(29, 111, 219);
    font-family: pp-sans-small-regular, Helvetica Neue, Arial, sans-serif;
    font-weight: bolder;
    background-color: whitesmoke;
    padding: 15px 70px;
    border-radius: 25px;
}

.section-2,
.section-2 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2,
.section-3,
.section-4,
.section-5 {
    flex-direction: column;
    padding: 5em 25em;
}

.section-2 div article {
    text-align: center;
    margin: 0 2em;
    padding: 3em 0;
}

.section-2 div article:first-child {
    margin-left: 0;
}

.section-2 div article:last-child {
    margin-right: 0;
}

.section-2 p {
    font-family: pp-sans-small-regular, Helvetica Neue, Arial, sans-serif;
    font-size: 15px;
    line-height: 23px;
    color: rgb(63, 62, 62);
}

h2 {
    font-weight: normal;
    font-size: 25px;
    color: rgb(63, 62, 62);
    margin: 0.5em 0;
}

.section-3,
.section-5 {
    display: flex;
    background-color: #f7f9fa;
    align-items: center;
}

.section-3 h1 {
    font-size: 35px;
}

.square {
    align-self: center;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(230, 230, 230);
  }

.steps-images,
.steps-texts {
    display: flex;
}

.steps-images {
    justify-content: space-between;
}

.steps-images:first-child {
    padding-left: 5em;
}

.steps-images img:last-child {
    padding-right: 5em;
}


.section-4 {
    background-color: #003087;
    color: white;
}